<IfModule mod_rewrite.c>
	RewriteEngine on

	# mengubah url denga url yang tanpa ekstensi
	RewriteRule ^dashboard$ index.php?page=dashboard [L]
	RewriteRule ^siswa$ index.php?page=siswa [L]



	# redirect jika ada dokumn yang di cari tidak ada 
	ErrorDocument 404 http://localhost/sistem-sekolah-lite/404.php



	Options All -Indexes
</IfModule>